div {
    min-width: 200px;
    min-height: 20px;
}
#sky {
    background-color: aqua;
    height: 620px;
    width: 100%;
}
#ground {
    width: 100%;
    background-color: chocolate;
}
* {
    box-sizing: border-box;
    margin: 0px;
}
svg {
    position: absolute;
    width: 20px;
    height: 20px;
}

.sambosa {
    fill: burlywood;
    stroke: brown;
    stroke-width: 1px;
}

.emad {
    fill: blue;
    stroke: brown;
    stroke-width: 1px;
}